{% extends 'base.html.twig' %}

{% block title %}MDP
{% endblock %}

{% block body %}
	<h1>Password</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}

	<button style="margin-top:10px" class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
	<a class="btn btn-warning" style="margin-top:10px" href="{{ path('profil') }}">Retour</a>

	{{ form_end(form) }}

{% endblock %}
