{% extends 'base.html.twig' %}

{% block title %}Photo
{% endblock %}

{% block body %}
	<h1>Photo de profil</h1>
    <div>
        <img style="margin-bottom:20px" width="300px" src="{{utilisateur.displayPhoto}}">
    </div>
	{{ form_start(form) }}
	{{ form_widget(form) }}

	<button style="margin-top:10px" class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
	<a class="btn btn-warning" style="margin-top:10px" href="{{ path('profil') }}">Retour</a>

	{{ form_end(form) }}

{% endblock %}
