{% extends 'base.html.twig' %}

{% block title %}Détail de la commande
{% endblock %}

{% block body %}
	<h2 style="margin-top: 50px; margin-bottom: 20px">Commande n°{{commande.id}}
		en date du {{commande.date ? commande.date|date('Y-m-d') : ''}}
		</h2>
	<table class="table" style="margin-top: 15px;">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Photo</th>
				<th scope="col">Référence</th>
				<th scope="col">Désignation</th>
				<th scope="col">Prix</th>
				<th scope="col">Quantite</th>
				<th scope="col">Montant</th>
			</tr>
		</thead>
		<tbody>
		{% for lc in  commande.ligneCommandeFleurs %}
				<tr>
					<td><img style="height:140px; width:200px" class='card-img-top' src="{{ asset('images/Fleurs/' ~ lc.uneFleur.photo) }}" alt=''></td>
					<td>{{lc.uneFLeur.id}}</td>
					<td>{{lc.uneFleur.designation}}</td>
					<td>{{lc.uneFleur.prix}}
						€</td>
						<td>{{lc.quantite}}</td>
					{% set montant = lc.uneFleur.prix * lc.quantite  %}
					<td>{{ montant }}</td>
				</tr>
		{% endfor %}
		</tbody>
		<tfoot>

				{% set montantTot = 0 %}

				{% for lc in  commande.ligneCommandeFleurs %}


					{% set montant = ( lc.uneFleur.prix * lc.quantite ) %}

					{% set montantTot = montantTot + montant %}
				{% endfor %}
				<tr>
					<td>Total de la commande :</td>
					<td></td>
					<td></td>
					<td>{{ montantTot }}
						€</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
	</table>

	<a type='button' class='btn btn-primary' href="{{path('commande')}}">Reour à la liste de vos commandes</a>

{% endblock %}
